@tailwind base;
@tailwind components;
@tailwind utilities;

.logindecoration {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #696969;
  background: none;
  border: none;
}
.loginspecial{
  text-decoration-color: #2563eb!important;
  background: #c7d2fe !important;
}

.reactionbubble{
  background-color: #f3f4f6;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  font-size: 15px;
  width: 20px;
  height: 20px;
}
